.body-llegada {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: auto;

  padding-top: 0;
  margin: 0;

  align-items: center;
}
.filter-section {
  width: 100%;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}
.llegada-container {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  width: auto;
  flex-wrap: wrap;
  justify-content: center;
}

/* NUEVOS CSS */

/* Estilos base para los filtros */
/* =============== FILTERS =============== */

.filter-section {
  display: flex;

  width: 90%;

  justify-content: space-between;
  align-items: center;

  gap: 3rem;
}
.filters {
  display: flex;
  width: auto;
  gap: 2rem;
  justify-content: space-between;
}
/* ===== FILTER SELECTS ===== */
.filter-option {
  display: flex;

  width: auto;

  align-items: center;
  justify-content: center;

  gap: 0.5rem;
}
.filter-option :nth-child(2) {
  border-radius: 0.5rem;
}
.filter-select {
  width: auto;

  margin-left: 0.5rem;

  border: 2px solid var(--Orange-1000);
  border-radius: 0.5rem;

  background-color: var(--Dark-gray);
}

.filter-option label {
  font-weight: bold;
}

.filter-option select {
  border-radius: 0.5rem;
}

.llegada-container-mobile {
  display: none;
}

/* Estilos para móviles */
@media (max-width: 768px) {
  /* ============== CONTAINER ============== */

  .llegada-container {
    display: none;
  }
  .llegada-container-mobile {
    display: flex;
    position: fixed;
    bottom: 0;

    width: 100%;
    height: auto;

    align-items: center;
    justify-content: center;

    background-color: var(--Black);
  }

  /* ================= NAV ================= */

  .nav-btn2 {
    display: block;

    margin-bottom: 0.6rem;
    width: 33.4%;
    height: 3.4rem;

    padding-top: 0.5rem;
  }
  .nav-inactivo {
    border: none;
    border-top: 5px solid var(--Orange-500);
  }
  .nav-activo {
    border: none;
    border-top: 5px solid var(--Orange-1000);
  }

  /* ================ FILTERS ================ */

  .filter-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-bottom: 0;
    gap: 0px;
    justify-content: center;
    align-items: center;
  }

  .filters {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .filter-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    min-width: none;
  }

  .filter-option label {
    font-weight: bold;
  }

  .filter-option select {
    width: 100%;
  }

  #search-input {
    width: 100%;
  }

  .PrintButton {
    display: none;
  }
}
